<app-nav-bar></app-nav-bar>
<div class="contenido">
<h1>Categorias</h1>
<p>*Solo funciona la categoria de lámparas (Uso exposición)</p>
<div class="container-padre">
    <div class="contenedor-categorias row">
        <div class="categoria-box col-md" [routerLink]="['../lamparas']">
            <div class="categoria-card">
                <h4>LAMPARAS</h4>
            </div>
        </div>
        <div class="categoria-box col-md">
            <div class="categoria-card">
                <h4>APLICACIONES</h4>
            </div>
        </div>
        <div class="categoria-box col-md">
            <div class="categoria-card">
                <h4>BOMBILLAS</h4>
            </div>
        </div>
        <div class="categoria-box col-md">
            <div class="categoria-card">
                <h4>TIMBRES</h4>
            </div>
        </div>
    </div>
    <div class="contenedor-categorias row">
        <div class="categoria-box col-md">
            <div class="categoria-card">
                <h4>ENCHUFES</h4>
            </div>
        </div>
        <div class="categoria-box col-md">
            <div class="categoria-card">
                <h4>DOMOTICA</h4>
            </div>
        </div>
        <div class="categoria-box col-md">
            <div class="categoria-card">
                <h4>NOTICIAS</h4>
            </div>
        </div>
        <div class="categoria-box col-md">
            <div class="categoria-card">
                <h4>SMART TV</h4>
            </div>
        </div>
    </div>
</div>
</div>