section{
  position: relative;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-box{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 90%;
}
.section-title{
  color: black;
  font-family: san-francisco-medium;
  font-size: 28px;
  margin-bottom: 50px;
}
.iteration-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.iterator{
  width: auto;
}
.card-box{
  display: flex;
  flex-direction: row;
  margin-bottom: 75px;
  width: 650px;
  height: 400px;
  display: flex;
  align-items: center;
}
.news-body{
  width: 60%;
    height: 100%;
    background-color: #F1F1F1;
    border-radius: 35px;
    box-shadow: 0 15px 20px -10px gray;
    margin-right: 0.1px;
    text-decoration: none;
    color: black;
}
.news-img{
  width: 40%;
  height: 83%;
  object-fit: cover;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}
.centrado{
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-title{
  font-family: san-francisco-medium;
  font-size: 22px;
  line-height: 28px;
}
.news-description{
  font-family: san-francisco-light;
  line-height: 22px;
  height: 100px;
  margin-bottom: 0;
}
.info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fecha{
  margin: 0;
  color: gray;
  font-family: san-francisco-light;
  font-size: 14px;
  width: 200px;
}
.leer-mas{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  color: #F66B0E;
  margin-top: 25px;
  margin-bottom: 25px;
}
.mas-antiguos-box{
  margin-left: 110px;
  margin-bottom: 100px;
  margin-top: 25px;
  .mas-antiguos{
    background-color: #F66B0E;
    color: white;
  }
}