<nav id="navegador" class="nav">
    <div class="cont">
        <div class="links-box">
            <a href="" class="link" [routerLink]="['../categorias']">Categorías</a>
            <a href="" class="link">Contacta con nosotros</a>
        </div>
        <a href="" class="logo">Todo HomeKit</a>
        <div class="account">
            <a href="" class="btn btn-login" [routerLink]="['../login']" *ngIf="!loged">Login</a>
            <a href="" class="btn btn-login" [routerLink]="['../home']" *ngIf="loged" (click) = "logout()">Log out</a>
            <a href="" class="btn btn-register" [routerLink]="['../register']"  *ngIf="!loged">Resgístrate</a>
        </div>
    </div>
</nav>